# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
# API
/../src/test/resources/credentials/api_id.txt
/../src/test/resources/credentials/api_key.txt
